:root {
    --max-width: 61.25rem;
}

html, body {
    font-size: 16px;
}

.box {
}

.header {
    background: lightskyblue;
}

.header__inner {
    background: gold;
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
}

.logo {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: peru;
    margin: 1.25rem;
}

.logo .logo__img {
}

.menu {
    background: darkcyan;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
}

.menu .menu__item {
    padding: .5rem;
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    transition: color 400ms;
}

.menu .menu__item.menu__item--active, .menu .menu__item:hover {
    color: lightcoral;
}

.breadcrumbs {
    background: lightgreen;
    max-width: var(--max-width);
    margin: 1rem auto;
}

.breadcrumbs__item {
    padding: .5rem;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
}

.main {
    background: pink;
    max-width: var(--max-width);
    min-height:
            calc(100vh - 5.5rem - 2.149375rem - 2rem - 3.29875rem - 1rem);
    margin: auto;
    display: flex;
}

.main-inner {
}

.content {
    background: lightblue;
    padding: 1rem;
}

.content .content__hdl {
    font-family: sans-serif;
    margin-top: -0.25rem;
    font-size: 2rem;
}

.content .content__text {
    font-family: sans-serif;
    line-height: 1.6rem;
    text-indent: 2rem;
}

.content .content__text:last-child {
    margin-bottom: 0;
}

.related {
    background: lightsalmon;
    display: flex;
    justify-content: center;
}

.related .related__item {
    background: lightgreen;
    width: 6.25rem;
    height: 6.25rem;
    margin: .5rem;

}

.aside {
    background: goldenrod;
    flex-direction: column;
    justify-content: space-around;
}

.aside .aside__item {
    background: aliceblue;
    width: 4.25rem;
    height: 4.25rem;
    margin: .5rem;

}

.footer {
    background: honeydew;
}

.footer .footer__inner {
    background: lightseagreen;
    max-width: var(--max-width);
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-footer {
    background: lightsteelblue;
    align-self: center;
}

.menu-footer .menu-footer__item {
    background: gray;
    padding: .5rem;
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 400ms;
}

.menu-footer .menu-footer__item.menu-footer__item--active,
.menu-footer__item:hover{
    background: gray;
    color: lightsalmon;
    padding: .5rem;
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    align-self: flex-end;
    background: lightskyblue;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 0 .5rem 0;
}